
html, body, p, h1, h2, h3 {
  margin: 0;
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
}

/* Layout */
.section {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section:first-of-type {
  min-height: 95vh;
  min-height: 95svh;
}

.section:last-of-type {
  min-height: 80vh;
  min-height: 80svh;
}

.footer {
  min-height: 20vh;
  min-height: 20svh;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography */

textarea {
  min-width: 50ch;
  max-width: 50ch;

  height: 35ch;

  min-height: 15ch;
  max-height: 75ch;
}

h1 {
  font-size: 3.815rem;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

p {
  font-size: 1rem;
}

/* Colors */
.hero-section, .projects-section, .contact-section {
  background-color: black;
  color: white;
}

/* Nav Bar */
.nav-bar {
  min-height: 5vh;
  min-height: 5svh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2.5em;
  border-bottom: 1px solid black;
  background-color: white;
  position: sticky;
  top: 0px;
}

.nav-bar-links {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
}

.nav-bar-links > * > * + * {
  margin-left: 2em;
}

.nav-bar-links>div>a, .nav-bar-links>div>a:visited {
  color: black;
  text-decoration: none;
}

@media (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    width: 100%;
    font-size: .5rem;
  }
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  padding: 1.5rem;
  width: 70%;
  text-align: center;
}

.hero-header {
  font-size: 2.441rem;
  margin-bottom: 0.25em;
}

.hero-tagline {
  font-size: 1rem;
  margin-bottom: 3em;
}

.hero-lg {
  flex-grow: 4;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  object-fit: cover;
  overflow: hidden;
  max-width: 70%;
  height: auto;
}

.hero > * {
  height: 100%;
  width: 100%;
}

@media (min-width: 600px) {
  .hero {
    flex-direction: row;
  }

  .hero-header {
    font-size: 3.815em;
  }

  .hero-text {
    max-width: 60ch;
    text-align: center;
  }

  .hero-lg {
    flex-grow: 5;
    width: auto;
  }

  .hero-sm {
    flex-grow: 1;
    width: auto;
  }

  .hero-image {
    max-width: 400px;
  }

  .hero-tagline {
    margin-top: 2em;
    font-size: 2.441rem;
  }
}

/* About */
.about-wrapper {
  display: flex;
  width: 50%;
}

.about-lg {
  flex-grow: 1;
  justify-items: start;
}

.about.text {
  text-align: justify;
  max-width: 75ch;
}

.about-sm {
  flex-grow: 1;
  text-align: start;
}

@media (max-width: 600px) {
  .about-wrapper {
    flex-direction: column;
    width: 80%;
    padding: 1em;
  }

  h1 {
    font-size: 2.441rem;
  }
}

/* Projects */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-self: stretch;
  gap: 1.5em;
  padding-inline: 2.5em;
}

.project-card {
  padding: 20px;
  align-self: stretch;
}

.project-text {
}

.project-img {
  width: 100%;
  object-fit: cover;
}

/* Skills */
.skills-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-top: 5vh;
  padding-top: 5svh;
}

.skill-container {
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.skill-card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  height: 7em;
}

.skills-lg {
  flex-grow: 4;
  text-align: start;
}

.skills-sm {
  flex-grow: 1;
  text-align: end;
}

i {
  font-size: 5em;
}

/* Contact */
.contact-section > * {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-inline: 1em;
}

/* Footer */
.footer {
  display: flex;
  align-items: stretch;
  justify-content: start;
  padding-inline: 2em;
  gap: 2em;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.footer-links > * > * + * {
  margin-left: 2em;
}

.footer-links>a, .footer-links>a:visited {
  color: black;
  text-decoration: none;
}