
html, body, p, h1, h2, h3 {
  margin: 0;
}

/* Layout */

.nav-bar {
  min-height: 5vh;
  min-height: 5svh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2.5em;
  border-bottom: 1px solid black;
}

.section {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section:first-of-type {
  min-height: 95vh;
  min-height: 95svh;
}

.section:last-of-type {
  min-height: 80vh;
  min-height: 80svh;
}

.footer {
  min-height: 20vh;
  min-height: 20svh;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  padding: 1.5rem;
}

@media (min-width: 600px) {
  .split {
    flex-direction: row;
  }
}

/* Projects */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-self: stretch;
  gap: 1.5em;
  padding-inline: 2.5em;
}

.project-card {
  padding: 20px;
  align-self: stretch;
}

.project-text {
}

.project-img {
  width: 100%;
  object-fit: cover;
}

/* Typography */

.text {
  max-width: 60ch;
}

textarea {
  min-width: 50ch;
  max-width: 50ch;

  height: 35ch;

  min-height: 15ch;
  max-height: 75ch;
}